input[type="radio"]
{
    display:none;
}
input[type="radio"] + label span
{
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/sprite.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span
{
    background:url(../img/sprite.png) -24px top no-repeat;
}

input[type="checkbox"]
{
    display:none;
}
input[type="checkbox"] + label span
{
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/sprite.png) -48px top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span
{
    background:url(../img/sprite.png) -72px top no-repeat;
}
